<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>test</title>
  <link rel="stylesheet" href="styles/app.scss">

  <link rel="stylesheet" href="/Content/fontawesome-all.min.css">
  <link rel="stylesheet" href="/styles/boxesAds.scss">

</head>

<body>





<div class="container">

    <div class="boxesAds boxes-two">
      <a href="" ><img src="/public/Content/images/img/cooperationBanner-1.jpg" alt=""></a>
  
      <a href="" ><img src="/public/Content/images/img/cooperationBanner-1.jpg" alt=""></a>


     </div>
  
</div>




  <script type="module" src="scripts/main.js"></script>

</body>

</html>